@font-face {
  font-family: "ubuntu";
  src: url(Ubuntu-Light.woff2);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "ubuntu", sans-serif;
} 

:root {
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  
  --tran-2: all 0.2s ease;
  --tran-3:all 0.3s ease;
  --tran-4:all 0.4s ease;
  --tran-5:all 0.5s ease;
  
}

body {
  height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-4);
}
body.dark{
--body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}
.sidebar .image-text img {
  width: 60px;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--sidebar-color);
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  transition: var(--tran-5);
  z-index: 100;
}
.sidebar.close{
  width: 85px;
}
.sidebar .text{
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
   transition: var(--tran-3);
}
.sidebar.close .text{
  opacity: 0;;
}
.sidebar header .image-text {
  display: flex;
  justify-content: start;
  align-items: center;
}
.sidebar .text{
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  transition: var(--tran-3);
  white-space: nowrap;
  opacity: 1;
}
.sidebar .image{
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar header .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar header .toggle {
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  font-size: 22px;
  width: 25px;
  height: 25px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--sidebar-color);
  font-size: 22px;
  transition: var(--tran-3);
  
  
}
.sidebar.close header .toggle{
  transform: translateY(-50%);
}
body.dark .sidebar header .toggle{
  color: var(--text-color);
}
.sidebar header {
  position: relative;
}
.sidebar li .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  min-width: 60px;
}
.sidebar li .text,
.sidebar li .icon{
  color: var(--text-color);
  transition: var(--tran-2);
}
.sidebar li a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
transition: var(--tran-4);
width: 100%;
  border-radius: 6px;
  width: 100%;
  color: var(--text-color);
}
.sidebar .search-box {
  border-radius: 6px;
  transition: var(--tran-5);
  background-color: var(--primary-color-light);
}
.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: var(--primary-color-light);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
}
.sidebar li a:hover {
  background-color: var(--primary-color);
}

.sidebar li a:hover .text,
.sidebar li a:hover .icon {
  color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .text,
body.dark .sidebar li a:hover .icon {
  color: var(--text-color);
}
.sidebar li{
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}
.sidebar .menu-bar{
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.menu-bar .mode{
  border-radius: 6px;
  position: relative;
  background-color: var(--primary-color-light);
}

.sidebar .menu-bar .moon-sun{
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}
.menu-bar .mode i{
  position: absolute;
  transition: var(--tran-3);
}
.menu-bar .mode .moon-sun i{
  position: absolute;
}
.menu-bar .mode i.sun{
  opacity: 0;
}
body.dark .menu-bar .mode i.sun{
  opacity: 1;
}
body.dark .menu-bar .mode i.moon{
  opacity: 0;
}
.menu-bar .mode .toggle-switch{
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  cursor: pointer;
  border-radius: 6px;
  background-color: var(--primary-color-light);
  transition: var(--tran-5);
}
.toggle-switch .switch{
  background-color: var(--toggle-color);
  height: 22px;
  width: 44px;
  position: relative;
  border-radius: 25px;
}
.toggle-switch .switch::before{
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--sidebar-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: var(--tran-3);
}
body.dark .toggle-switch .switch::before{
  left: 25px;
  transition: var(--tran-3);
}
body.dark .switch::before{
  left: 24px;
}
header .image-text .header-text{
  display: flex;
  flex-direction: column;
}
.header-text .name{
  font-weight: 600;
}
.header-text .profession{
  margin-top: -2px;
} 
.home{
  height: 100vh;
  width: calc(100% - 250px);
  position: relative;
  left: 250px;
  background: var(--body-color);
  transition: var(--tran-5);
}
.sidebar.close ~ .home{
  height: 100vh;
  width: calc(100% - 85px);
  position: relative;
  left: 85px
}
.home .text{
  padding: 8px 40px;
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
}
